@font-face {
    font-family: 'Arno Pro';
    src: local('Arno Pro'), url('fonts/ArnoPro-Regular.otf');
}
@font-face {
    font-family: 'SBL Hebrew';
    src: local('SBL Hebrew'), url('fonts/SBL_Hbrw.otf');
}
@font-face {
    font-family: 'Droid Naskh';
    src: local('Droid Naskh'), url('fonts/DroidNaskh-Regular.ttf');
}

body {
    font-family: 'Times', 'Times New Roman', serif;
    text-rendering: optimizeLegibility;
}

main p {
    background: #f8f4ff;
    font-size: 5em;
    margin-top: 8px;
    margin-bottom: 8px;
}
main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.letter {
    color: #f5d30b;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: #f5d30b;
}
.diacritic {
    color: #149adc;
}
body > p .letter {
    -webkit-text-stroke-width: 0.5px;
}

:lang(en) {
    font-family: 'Arno Pro';
}
:lang(he) {
    font-family: 'SBL Hebrew';
}
:lang(ar) {
    font-family: 'Droid Naskh';
}
