.sentence, .positions {
    overflow-x: auto;
    white-space: nowrap;
}

.word {
    white-space: nowrap;
}

.word .cluster::after {
    color: #f5d30b;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: #f5d30b;
}

.word .cluster {
    position: relative;
}
.word .cluster::after {
    content: attr(data-letter);
    position: absolute;
}
[dir="ltr"] .word .cluster::after {
    left: 0;
}
[dir="rtl"] .word .cluster::after {
    right: 0;
}
