@font-face {
    font-family: 'SBL Hebrew';
    src: local('SBL Hebrew'), url('SBL_Hbrw.otf');
}

body {
    font-size: 8em;
}
p {
    margin: 0;
}
:lang(he) {
    font-family: 'SBL Hebrew';
    direction: rtl;
}
.word {
    white-space: nowrap;
}
.cluster {
    /* Leave this to prevent the first letter from anti-wrapping */
    display: inline-block;
}
.word .cluster::first-letter {}
.word:hover .cluster::before {
    color: #f5d30b;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: #f5d30b;
}

/*.word:hover .cluster::first-letter {
    visibility: hidden;
}*/
.word:hover .cluster {
    position: relative;
}
.word:hover .cluster::before {
    content: attr(data-letter);
    position: absolute;
    top: 0;
}
:lang(en) .word:hover .cluster::before {
    left: 0;
}
:lang(he) .word:hover .cluster::before {
    right: 0;
}
